* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

header nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo span {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.19px;
  font-style: italic;
  color: #2947a9;
}

.menu {
  display: flex;
  gap: 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #14171f;
  list-style: none;
  font-weight: 400;
}

.menu li a {
  text-decoration: none;
}

.ativo {
  color: #f9995d;
}

/* SECTION LOGO */
.hero-logo {
  height: 90vh;
  background-image: url("../assets/images/architecture-g91c54e904_1280.jpg");
  background-size: cover;
  position: relative;
}
.hero-logo .opacidade {
  height: 90vh;
  background-color: #fff;
  opacity: 0.8;
}
.hero-logo h1 {
  position: absolute;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  color: #292e3d;
  line-height: 84px;
  width: 556px;
  height: 168px;
  opacity: 1;
  /* left: calc(50% - 556px / 2 - 330px); */
  top: 239px;
}

.features {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 20px 52px;
  width: 416px;
  height: 150px;
  background: #3559c7;
}

.features h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.features p {
  position: absolute;
  text-align: center;
  font-family: "Work Sans", sans-serif;

  font-size: 24px;
  margin-bottom: 26px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.features button {
  position: absolute;
  bottom: -40px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #292e3d;
  color: #fff;
  width: 208px;
  height: 40px;
  padding: 4px 20px;
  border: none;
}

.features .btn-next {
  right: 0;
}
.features .btn-back {
  right: 208px;
}

/* SECTION REPUTATION */

.container-grid {
  width: 1200px;
  margin: 50px auto 80px;
  display: grid;
  grid-template-columns: 295px 295px 295px;
  justify-content: space-around;
}

.reputation-titulo {
  text-align: center;
  color: #292e3d;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services {
  padding: 20px;
  border: 1.4px solid #e0e3eb;
  border-radius: 4px;
}

h3 {
  font-family: "Work Sans";
  color: #3d445c;
  font-weight: 700;
  font-size: 40px 20px 40px 20px;
  line-height: 23px;
}

.services p {
  font-family: "Work Sans";
  color: #858ead;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* ABOUT US */

.about {
  display: flex;
  position: relative;
  margin-top: 160px;
  margin-bottom: 200px;
}

.foto {
  width: 902px;
  height: 669px;
}

.about_us {
  width: 488px;
  height: 523px;
  background-color: rgba(41, 71, 169, 1);
  position: absolute;
  left: calc(50% - 488px / 2 + 364px);
  top: 60px;
  padding: 50px 60px 60px 40px;
  border-radius: 2px;
}

.about_us h2 {
  font-family: "Work Sans";
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.about_us p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.about_us .about_p1 {
  margin-bottom: 25px;
}

.about_us .about_p2 {
  margin-bottom: 70px;
}

.about_us button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  width: 219px;
  height: 53px;
  color: #2947a9;
  background: #ffffff;
  border: 2px solid #2947a9;
  border-radius: 6px;
}

/* SERVICE-SECTION */

.services-section {
  background: #f6f8f7;
  padding: 45px 0 50px 0;
}

.services-section h2 {
  text-align: center;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.cards {
  width: 271px;
  height: 181px;
  padding: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.card-branco {
  background-color: #fff;
}
.card-azul {
  background-color: #2947a9;
}
.card-branco h3 {
  color: #2947a9;
}
.card-azul h3 {
  color: #fff;
}

.card-azul h3::before,
.card-branco h3::before {
  content: "";
  position: absolute;
  top: 98px;
  left: 100px;
  width: 60px;
  height: 2px;
  background: #e0e3eb;
}

.container-grid2 {
  width: 1200px;
  margin: 50px auto 80px;
  display: grid;
  grid-template-columns: 271px 271px 271px;
  justify-content: space-around;
  row-gap: 50px;
}

/* EXPERIENCE */
.experience {
  margin-top: 150px;
  margin-bottom: 150px;
}

.experience h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-start;
  color: #292e3d;
}

.experience h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #667299;
}

.container-grid3 {
  /* background-color: red; */
  width: 1200px;
  margin: 50px auto 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-around;
  position: relative;
}

.exp-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.exp-content h2 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #2947a9;
}

.exp-content p {
  width: 330px;
  height: 74px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #525b7a;
}

.exp-content button {
  width: 176px;
  height: 53px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding: 16px 20px;
  background: #2947a9;
  border: none;
}

.exp-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* EXPERIENCE - CLIENTES */
.clientes {
  padding: 10px 30px 30px 30px;
  background-color: #fff;
  position: absolute;
  width: 280px;
  height: 155px;
  left: calc(50% - 280px / 2 - 68px);
  top: -50px;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}

.clientes .maos {
  position: absolute;
  top: -10px;
  left: 230px;
}

.clientes h3 {
  margin-left: 40px;
}
.clientes h3::before {
  position: absolute;
  margin-left: -15px;
  content: "";
  width: 7px;
  height: 28px;
  background: #f9995d;
}

/* EXPERIENCE - PROJECTS */
.projects {
  padding: 10px 30px 30px 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 155px;
  left: calc(50% - 361px / 2 - 327.5px);
  top: 40px;
  background: #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  z-index: -1;
}

.projects .notes {
  position: absolute;
  top: -60px;
  left: -25px;
}

.projects h3 {
  margin-left: 30px;
}

.projects h3::before {
  position: absolute;
  margin-left: -15px;
  content: "";
  width: 7px;
  height: 28px;
  background: #f9995d;
}

/* EXPERIENCE - AWARDS */
.awards {
  padding: 10px 30px 30px 30px;
  position: absolute;
  width: 276px;
  height: 155px;
  left: calc(50% - 276px / 2 - 124px);
  top: 180px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}
.awards h3 {
  margin-left: 35px;
}

.awards h3::before {
  position: absolute;
  margin-left: -15px;
  content: "";
  width: 7px;
  height: 28px;
  background: #f9995d;
}

.awards .trofeus {
  position: absolute;
  top: -10px;
  left: 220px;
}

/* EXPERIENCE - BUSINESS */
.business {
  padding: 10px 30px 30px 30px;
  position: absolute;
  width: 333px;
  height: 155px;
  left: calc(50% - 333px / 2 - 292.5px);
  top: 300px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
  z-index: -2;
}

.business .plants {
  position: absolute;
  bottom: -40px;
  left: 300px;
}

.business h3 {
  margin-left: 30px;
}

.business h3::before {
  position: absolute;
  margin-left: -15px;
  content: "";
  width: 7px;
  height: 28px;
  background: #f9995d;
}

/* CONSULTATION */

.consultation {
  background-image: url(../assets/images/consultation.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.container-consultation {
  max-width: 1340px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.consultation-content h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.consultation-content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 30px;
  color: #ffffff;
}

.consultation button {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  width: 232px;
  height: 53px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

/* SECTION SEC-PROJECTS */
.sec-projects {
  padding: 90px 0 140px 0;
}

.sec-projects .titulo-secprojects {
  max-width: 1240px;
  margin: 0 auto 40px auto;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292e3d;
}

.container-projects {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.projects-menu {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.projects-menu ul {
  width: 400px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-menu ul li a {
  text-decoration: none;
  color: #c2c7d6;
  margin-left: 20px;
}

.projects-menu ul li .ativo {
  color: #2947a9;
  position: relative;
}

.projects-menu ul li .ativo::before {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 4px;
  height: 28px;
  background: #2947a9;
}

.projects-figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 110px;
}

.figure {
  width: 384px;
  height: 247px;
}
.projects-figures img {
  position: absolute;
}

figcaption {
  position: relative;
  top: 247px;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 16px;
  gap: 12px;
  width: 384px;
  height: 84px;
  background: #2947a9;
}

.projects-figures figcaption h2 {
  color: #fff;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.projects-figures figcaption p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.navgation-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / span 2;
}

.navgation-btn .btn-back,
.navgation-btn .btn-next {
  width: 295px;
  height: 64px;
  background: #292e3d;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.bol {
  display: flex;
  gap: 15px;
}

.bolinha {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #afb2b4;
}

.b1 {
  background: #2947a9;
}

/* SECTION CONTACT */

.contact {
  background: #f6f8f7;
}

.contact h2 {
  text-align: center;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292e3d;
}

.contact .sub-title-contact {
  width: 539px;
  height: 46px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 20px auto;
  text-align: center;
  color: #292e3d;
}

.form {
  max-width: 592px;
  margin: 40px auto;
}
input::placeholder {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #a3aac2;
}

input {
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
}

textarea {
  width: 592px;
  height: 135px;
  resize: none;
}

textarea::placeholder {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #a3aac2;
}

#email,
#phone {
  margin-left: 28px;
}

.form #req {
  margin: 8px 0px 30px 0px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(8, 0, 255);
}
