* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo span {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 35.19px;
  font-style: italic;
  color: #2947a9;
}

.menu {
  display: flex;
  gap: 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #14171f;
  list-style: none;
  font-weight: 400;
}

.menu li a {
  text-decoration: none;
}

.ativo {
  color: #f9995d;
}

/* SECTION LOGO */
.hero-logo {
  height: 90vh;
  background-image: url("../assets/images/architecture-g91c54e904_1280.jpg");
  background-size: cover;
  position: relative;
}
.hero-logo .opacidade {
  height: 90vh;
  background-color: #fff;
  opacity: 0.8;
}
.hero-logo h1 {
  position: absolute;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 72px;
  color: #292e3d;
  line-height: 84px;
  width: 556px;
  height: 168px;
  opacity: 1;
  /* left: calc(50% - 556px / 2 - 330px); */
  top: 239px;
}

.features {
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 20px 52px;
  width: 416px;
  height: 150px;
  background: #3559c7;
}

.features h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.features p {
  position: absolute;
  text-align: center;
  font-family: "Work Sans", sans-serif;

  font-size: 24px;
  margin-bottom: 26px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.features button {
  position: absolute;
  bottom: -40px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #292e3d;
  color: #fff;
  width: 208px;
  height: 40px;
  padding: 4px 20px;
  border: none;
}

.features .btn-next {
  right: 0;
}
.features .btn-back {
  right: 208px;
}

/* SECTION REPUTATION */

.container-grid {
  width: 1200px;
  margin: 50px auto 80px;
  display: grid;
  grid-template-columns: 295px 295px 295px;
  justify-content: space-around;
}

.reputation-titulo {
  text-align: center;
  color: #292e3d;
  font-family: "Work Sans", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services {
  padding: 20px;
  border: 1.4px solid #e0e3eb;
  border-radius: 4px;
}

h3 {
  font-family: "Work Sans";
  color: #3d445c;
  font-weight: 700;
  font-size: 40px 20px 40px 20px;
  line-height: 23px;
}

.services p {
  font-family: "Work Sans";
  color: #858ead;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* ABOUT US */

.about {
  display: flex;
  position: relative;
  margin-top: 160px;
}

.foto {
  width: 902px;
  height: 669px;
}

.about_us {
  width: 488px;
  height: 523px;
  background-color: rgba(41, 71, 169, 1);
  position: absolute;
  left: calc(50% - 488px / 2 + 364px);
  top: 60px;
  padding: 50px 60px 60px 40px;
  border-radius: 2px;
}

.about_us h2 {
  font-family: "Work Sans";
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.about_us p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.about_us .about_p1 {
  margin-bottom: 25px;
}

.about_us .about_p2 {
  margin-bottom: 70px;
}

.about_us button {
  width: 219px;
  height: 53px;
  color: #2947a9;
  background: #ffffff;
  border: 2px solid #2947a9;
  border-radius: 6px;
}
